.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px red;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: wheat;
    align-items: center;
    width: 45%;
        /* min-width: 45%;
        max-width: 45%; */
}
@media(max-width:600px){
    .recipe{
        width: 90%;
    }
}
.image{
    border-radius: 10%;
    width: 50%;
    height: 50%;
}
.btn{
 background: rgb(43, 117, 187);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}
.btn:hover{
 background-color: rgb(13, 60, 214);
}